{% extends 'base.html' %}

{% block title %}
{{ program.language(locale).name }}
{% endblock %}

{% block content %}
<div class="detail">
  <aside>
    <nav>
      <ul>
        <li>
        <a href="{{ url_for('multilingual.index') }}#programs">{{ _('Programs') }}</a>
          <ul class="">
          {% for p in programs %}
            <li class="">
              <a
                class="{% if p == program %}active{% endif %}"
                {% if p == program %}aria-current="page"{% endif %}
                href="{{ url_for('multilingual.program.detail', slug=p.language(locale).slug) }}">{{ p.language(locale).name }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    <section class="markdown">
      <h2>{{ program.language(locale).name }}</h2>

      {% if g.user and g.user.is_admin %}
        <a class="detail__edit" href="{{ url_for('multilingual.program.update', id=program.id) }}">{{ _('Edit') }}</a>
      {% endif %}

      {{ html_body|heading(2)|safe }}

      {% if program.id != 2 %}
      <h2>{{ _('Graduated Students') }}</h2>
      <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ _('Name') }}</th>
            <th scope="col">{{ _('Defense date') }}</th>
          </tr>
        </thead>
        {% for gs in graduated_students %}
          <tbody>
            <tr>
              <th scope="row"> {{ loop.index }}</th>
              <td><a class="link-primary" href="{{ url_for('multilingual.people.graduated_student_detail', slug=gs.user.slug) }}">{{ gs.name }}</a></td>
              <td> {{ gs.defense_date|dateformat('long') }}</td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
      {% endif %}
    </section>
  </main>
</div>
{% endblock %}
