{% extends 'base.html' %}

{% block title %}
{{ post.language(locale).title }}
{% endblock %}

{% block content %}
<main class="post-detail post-detail--{{ post.type }}">

  <header class="header header--{{ post.type }}">
    <div class="header__inner">
      {% if g.user and g.user.is_admin %}
        <a class="header__edit" href="{{ url_for('multilingual.post.update', id=post.id) }}">{{ _('Edit') }}</a>
      {% endif %}

      {% if post.type == 'new' %}
        <div class="header__information">
          <div class="header__type">{{ post.language(locale).subtype|capitalize }}</div>
          <h1 class="header__title">{{ post.language(locale).title }}</h1>
          <img class="header__image" src="{{ url_for('multilingual.post.photo', post_type=post.type, post_subtype_slug=post.language(locale).subtype_slug, slug=post.language(locale).slug) }}" alt="" loading="eager">
          <p class="header__subtitle">{{ post.language(locale).subtitle }}</p>
        </div>
      {% elif post.type == 'event' %}
        <div class="header__information">
          <div class="header__type">{{ post.language(locale).subtype|capitalize }}</div>
          <h1 class="header__title">{{ post.language(locale).title }}</h1>
          <ul class="header__infos" role="list">
            <li class="header__info"><span>Inicio:</span> {{ post.start_datetime|dateformat('long') }}</li>
            <li class="header__info"><span>Hora:</span> {{ post.start_datetime|timeformat('hh:mm a') }}</li>
            <li CLass="header__info"><span>Speaker:</span> {{ post.language(locale).speaker }}</li>
            <li class="header__info"><span>Lugar:</span> {{ post.language(locale).location }}</li>
          </ul>
        </div>
        <img class="header__image" src="{{ url_for('multilingual.post.photo', post_type=post.type, post_subtype_slug=post.language(locale).subtype_slug, slug=post.language(locale).slug) }}" alt="" loading="eager">
      {% endif %}
    </div>
  </header>

  <section class="markdown">
    {{ html_body|heading(1)|safe }}
  </section>
</main>
{% endblock %}
