{% extends 'multilingual/people/index.html' %}

{% block main %}
    <img class="people-image" src="{{ url_for('multilingual.people.photo', slug=user.slug) }}" onerror="this.src='http://fic.uni.edu.pe/static/ficuni/images/foto_no_disponible.jpg'; this.onerror=null;" alt="{{ _('Photo') }}" loading="eager">
    <header>
      {% block people_header %}
      {% endblock %}

      {% if user.email %}
        <div>
          {% if has_recaptcha %}
            <a class="link-secondary" href="mailto:{{ user.email }}">{{ user.email }}</a>
          {% else %}
            <a class="link-secondary" href="{{ url_for('multilingual.recaptcha.recaptcha', next=request.path) }}">{{ _('Show contact') }}</a>
          {% endif %}
        </div>
      {% endif %}

      {% if g.user and (g.user.is_admin or g.user.email == user.email) %}
        <div>
          <a class="link-secondary" href="{% block people_edit_link %}{% endblock %}">{{ _('Edit') }}</a>
        </div>
      {% endif %}
    </header>
    <section>
      {% block people_body %}
      {% endblock %}
    </section>
{% endblock %}
