{% extends 'multilingual/people/detail.html' %}

{% block title %}
{{ user.name }}
{% endblock %}

{% block people_header %}
<h2>{{ user.name }}</h2>
{% endblock %}

{% block people_edit_link %}
  {{ url_for('multilingual.people.graduated_student_update', id=user.id) }}"
{% endblock %}

{% block people_body %}
<h3>{{ _('Summary') }}</h3>
<div class="markdown">
  {{ html_summary|heading(3)|safe }}
</div>


<div style="display: grid; gap: 1.5rem;">
  {% for gs in graduated_students %}
  <table style="background-color: white" class="table">
    <thead>
      <tr>
        <th style="text-align: center;" scope="col" colspan=2>{{ _('Program') }}: {{ gs.program.language(locale).name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="width: 12rem; vertical-align: middle;">{{ _('Thesis title') }}</th>
        <td>{{ gs.title }}</td>
      </tr>
      <tr>
        <th>{{ _('Defense date') }}</th>
        <td>{{ gs.defense_date }}</td>
      </tr>
      <tr>
        <th>{{ _('Advisor') }}</th>
        <td>{{ gs.advisor }}</td>
      </tr>
      {% if gs.external_advisor %}
      <tr>
        <th>{{ _('External advisor') }}</th>
        <td>{{ gs.external_advisor }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>{{ _('Supervisor 1') }}</th>
        <td>{{ gs.supervisor1 }}</td>
      </tr>
      <tr>
        <th>{{ _('Supervisor 2') }}</th>
        <td>{{ gs.supervisor2 }}</td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}
