{% extends 'detail.html' %}

{% block nav %}
<ul>
  <li>
    <a href="{{ url_for('multilingual.people.index') }}#">{{ _('People') }}</a>
    <ul>
      {% set sections = {
           'scientific_staff': _('Scientific Staff'),
           'administrative_staff': _('Administrative Staff'),
      } %}
      {% for section_slug, section_name in sections.items() %}
        <li>
          <a
            {% if current_section == section_slug %}class="active"{% endif %}
            href="{{ url_for('multilingual.people.index') }}#{{ section_slug }}"
          >
            {{ section_name }}
          </a>
        </li>
      {% endfor %}
        <li>
          <a href="{{ url_for('multilingual.people.index') }}#graduated_students">
            {{ _('Graduated Students') }}
          </a>
          <ul>
            <li>
              <a href="{{ url_for('multilingual.people.index') }}#doctorate_graduated_students">
                {{ _('Doctorate Graduated Students') }}
              </a>
            </li>
            <li>
              <a href="{{ url_for('multilingual.people.index') }}#master_graduated_students">
                {{ _('Master Graduated Students') }}
              </a>
            </li>
          </ul>
        </li>
    </ul>
  </li>
</ul>
{% endblock %}

{% block main %}
<section>
  <h2 id="scientific_staff">{{ _('Scientific Staff') }}</h2>
  <ul class="teacher__container">
    {% for researcher in researchers %}
    <li class="teacher__item">
      <a href="{{ url_for('multilingual.people.researcher_detail', slug=researcher.user.slug) }}" class="card card--researcher">
        <img class="card--researcher__img" src="{{ url_for('multilingual.people.photo', slug=researcher.user.slug) }}" onerror="this.src='http://fic.uni.edu.pe/static/ficuni/images/foto_no_disponible.jpg'; this.onerror=null;" alt="[{{ _('Photo') }}]" loading="eager">
        <div class="card--researcher__name">{{ researcher.name }}</div>
        <div class="card--researcher__research-area">{{ researcher.language(locale).field }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2 id="administrative_staff">{{ _('Administrative Staff') }}</h2>
  <ul class="teacher__container">
    {% for staff in administrative_staff %}
    <li class="teacher__item">
      <a href="{{ url_for('multilingual.people.staff_detail', slug=staff.user.slug) }}" class="card card--researcher">
        <img class="card--researcher__img" src="{{ url_for('multilingual.people.photo', slug=staff.user.slug) }}" onerror="this.src='http://fic.uni.edu.pe/static/ficuni/images/foto_no_disponible.jpg'; this.onerror=null;" alt="[{{ _('Photo') }}]" loading="eager">
        <div class="card--researcher__name">{{ staff.user.name }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2 id="graduated_students">{{ _('Graduated Students') }}</h2>

  <h3 id="doctorate_graduated_students">{{ _('Doctorate Graduated Students') }}</h3>
  <ul class="teacher__container">
    {% for gs in doctorate_graduated_students %}
    <li class="teacher__item">
      <a href="{{ url_for('multilingual.people.graduated_student_detail', slug=gs.slug) }}" class="card card--graduated-student">
        <img class="card--graduated-student__img" src="{{ url_for('multilingual.people.photo', slug=gs.slug) }}" onerror="this.src='http://fic.uni.edu.pe/static/ficuni/images/foto_no_disponible.jpg'; this.onerror=null;" alt="Foto" loading="lazy">
        <div>
          <div class="card--graduated-student__name">{{ gs.user.firstname }}</div>
          <div class="card--graduated-student__name">{{ gs.user.lastname1 }} {{ gs.user.lastname2 }}</div>
          <div class="card--graduated-student__major">{{ gs.program.language(locale).degree }}</div>
          <div class="card--graduated-student__major">{{ gs.program.language(locale).title }}</div>
          <div class="card--graduated-student__defense-date">{{ gs.defense_date }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>

  <h3 id="master_graduated_students">{{ _('Master Graduated Students') }}</h3>
  <ul class="teacher__container">
    {% for gs in master_graduated_students %}
    <li class="teacher__item">
      <a href="{{ url_for('multilingual.people.graduated_student_detail', slug=gs.slug) }}" class="card card--graduated-student">
        <img class="card--graduated-student__img" src="{{ url_for('multilingual.people.photo', slug=gs.slug) }}" onerror="this.src='http://fic.uni.edu.pe/static/ficuni/images/foto_no_disponible.jpg'; this.onerror=null;" alt="Foto" loading="lazy">
        <div>
          <div class="card--graduated-student__name">{{ gs.user.firstname }}</div>
          <div class="card--graduated-student__name">{{ gs.user.lastname1 }} {{ gs.user.lastname2 }}</div>
          <div class="card--graduated-student__major">{{ gs.program.language(locale).degree }}</div>
          <div class="card--graduated-student__major">{{ gs.program.language(locale).title }}</div>
          <div class="card--graduated-student__defense-date">{{ gs.defense_date }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
