{% extends 'multilingual/people/detail.html' %}

{% block people_header %}
<h2>{{ researcher.name }}</h2>
<div class="fw-bold fz-large">Área: {{ researcher_language.field }}</div>
{% endblock %}

{% block people_edit_link %}
  {{ url_for('multilingual.people.researcher_update', id=user.id) }}
{% endblock %}

{% block people_body %}
  <h3>{{ _('Summary') }}</h3>
  <div class="markdown">
    {{ html_summary|heading(3)|safe }}
  </div>

  <h3>{{ _('Publications') }}</h3>
  <ul class="publications">
    {% for publication_apa in publications|bib2apa %}
      <li>{{ publication_apa|apa2html|safe }}</li>
    {% endfor %}
  </ul>
{% endblock %}
