{% extends 'multilingual/people/detail.html' %}

{% block title %}
{{ user.name }}
{% endblock %}

{% block people_header %}
<h2>{{ user.name }}</h2>
{% endblock %}

{% block people_edit_link %}
  {{ url_for('multilingual.people.graduated_student_update', id=user.id) }}
{% endblock %}

{% block people_body %}
<h3>{{ _('Summary') }}</h3>
<div class="markdown">
  {{ html_summary|heading(3)|safe }}
</div>

{% endblock %}
