{% extends 'base.html' %}

{% block title %}
{{ research_area.language(locale).name }}
{% endblock %}

{% block content %}
<div class="detail">
  <aside>
    <nav>
      <ul>
        <li>
          <a href="{{ url_for('multilingual.index') }}#research_areas">{{ _('Research Areas') }}</a>
          <ul>
          {% for ra in research_areas %}
            <li>
              <a
                class="{% if ra == research_area %}active{% endif %}"
                {% if ra == research_area %}aria-current="page"{% endif %}
                href="{{ url_for('multilingual.research_area.detail', slug=ra.language(locale).slug) }}">{{ ra.language(locale).name }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    <section>
      <h1 class="detail__title">{{ research_area.language(locale).name }}</h1>

      {% if g.user and (research_area.user == g.user or g.user.is_admin) %}
        <a class="detail__edit" href="{{ url_for('multilingual.research_area.update', id=research_area.id) }}">{{ _('Edit') }}</a>
      {% endif %}
      <img class="detail__image" src="{{ url_for('multilingual.research_area.photo', slug=research_area.language(locale).slug) }}" alt="[{{ _('Photo') }}]" loading="lazy">

      <div class="markdown">
        {{ html_summary|heading(1)|safe }}
      </div>

      <h2>{{ _('Publications') }}</h2>
      <ul class="publications">
        {% for publication_apa in publications|bib2apa %}
          <li>{{ publication_apa|apa2html|safe }}</li>
        {% endfor %}
      </ul>
    </section>
  </main>
</div>
{% endblock %}
