{% extends 'base.html' %}

{% from 'forms.html' import with_errors %}

{% block title %}
{{ _('Edit') }}
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit_markdown.css') }}">
{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='edit_markdown.js')}}"></script>
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <h3 class="mt-3">{{ _('Edit') }} </h3>
    <form method="post" enctype="multipart/form-data">
      {% for field in form %}
        {{ with_errors(field) }}
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Save">
    </form>
  </div>
</main>
{% endblock %}
