{% extends 'base.html' %}

{% block title %}
{{ flatpage.language(locale).title }}
{% endblock %}

{% block content %}
<div class="detail">
  <aside>
    <nav>
      {{ toc|safe }}
    </nav>
  </aside>
  <main class="markdown">
    {% if g.user and g.user.is_admin %}
      <a class="detail__edit" href="{{ url_for('multilingual.flatpage.update', slug=flatpage.language(locale).slug) }}">{{ _('Edit') }}</a>
    {% endif %}
    {{ html|heading(2)|safe }}
  </main>
</div>
{% endblock %}
