{% extends 'base.html' %}

{% from 'forms.html' import with_errors %}

{% block title %}
{{ _('Dashboard') }}
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit_markdown.css') }}">
{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='edit_markdown.js')}}"></script>
{% endblock %}

{% block content %}
<main class="dashboard container">
  <h1 class="title">Dashboard</h1>

  <section>
    <h2 class="title">Posts</h2>
    <form action="{{ url_for('multilingual.post.create', post_type='new') }}" method="post">
      <input class="button" type="submit" value="Create New" onclick="return confirm('Are you sure?');">
    </form>
    <form action="{{ url_for('multilingual.post.create', post_type='event') }}" method="post">
      <input class="button" type="submit" value="Create Event" onclick="return confirm('Are you sure?');">
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Type</th>
          <th scope="col">English</th>
          <th scope="col">Spanish</th>
          <th scope="col">Post Date</th>
          <th scope="col">Expiration Date</th>
          <th scope="col">Importance</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.type }}</td>
          <td><a href="{{ url_for('multilingual.post.detail', lang_code='en', post_type=post.type, post_subtype_slug=post.language(Locale('en')).subtype_slug, slug=post.language(Locale('en')).slug) }}">{{ post.language(Locale('en')).title }}</a></td>
          <td><a href="{{ url_for('multilingual.post.detail', lang_code='es', post_type=post.type, post_subtype_slug=post.language(Locale('es')).subtype_slug, slug=post.language(Locale('es')).slug) }}">{{ post.language(Locale('es')).title }}</a></td>
          <td>{{ post.post_date.strftime('%Y-%m-%d') }}</td>
          <td>{{ post.expiration_date.strftime('%Y-%m-%d') }}</td>
          <td>{{ post.importance|round(3) }}</td>
          <td>
            <a class="button button--sm" href="{{ url_for('multilingual.post.update', id=post.id) }}">{{ _('Edit') }}</a>
            <form action="{{ url_for('multilingual.post.delete', id=post.id) }}" method="post">
              <input style="display: inline;" class="button button--sm button--danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2 class="title">Archivos</h2>
    <a class="button" href="{{ url_for('multilingual.file_upload.upload') }}">Upload File </a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Filename</th>
          <th scope="col">Mimetype</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for file_uploaded in files_uploaded %}
        <tr>
          <th scope="row">{{ file_uploaded.id }}</td>
          <td>{{ file_uploaded.filename }}</td>
          <td>{{ file_uploaded.mimetype }}</td>
          <td><a href="{{ url_for('multilingual.file_upload.file', filename=file_uploaded.filename) }}" target="_blank">{{ url_for('multilingual.file_upload.file', filename=file_uploaded.filename) }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2 class="title">Users</h2>
    {#<a class="button" href="{{ url_for('multilingual.people.create') }}">Upload File</a>#}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">email</th>
          <th scope="col">name</th>
          <th scope="col">links</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.id }}</td>
          <td>{{ user.email|default('', true) }}</td>
          <td>
            {{ user.lastname1 }} - {{ user.lastname2 }} - {{ user.firstname }}
          </td>
          <td>
            {% if user.is_researcher %}
              <div>
                <a href="{{ url_for('multilingual.people.researcher_detail', slug=user.slug)}}">Researcher</a>
              </div>
            {% endif %}
            {% if user.is_graduated_student %}
              <div>
                <a href="{{ url_for('multilingual.people.researcher_detail', slug=user.slug)}}">Grad. Student</a>
              </div>
            {% endif %}
          </td>
          <td>
            {#<a class="button button--sm" href="{{ url_for('multilingual.post.update', id=post.id) }}">{{ _('Edit') }}</a>
            <form action="{{ url_for('multilingual.post.delete', id=post.id) }}" method="post">
              <input style="display: inline;" class="button button--sm button--danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>#}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</main>
{% endblock %}
