{% extends 'base.html' %}

{% from 'multilingual/macros.html' import card %}

{%- block title -%}
{{ _('Home') }}
{%- endblock -%}

{%- block stylesheets -%}
{{ super() }}
{%- endblock -%}

{% block content %}
<div class="container-index">
  <!-- ////////////////////////////////////////////////////////////////////////
                          START THE INTRO SECTION
  ///////////////////////////////////////////////////////////////////////// -->
  <section class="intro-section">
    <div class="intro-section__container">
      <h1 class="intro__display logo logo--shadow">
        <span class="logo__title">
          <span class="logo__title--before">I</span><span class="logo__title--color">M</span><span class="logo__title--after">CA</span>
        </span>
        <span class="logo__sep"> -- </span>
        <span class="logo__subtitle">
          Instituto de Matemática y Ciencias Afines
        </span>
      </h1>
    </div>
  </section>

  <!-- ////////////////////////////////////////////////////////////////////////
                          START THE POSTS SECTION
  ///////////////////////////////////////////////////////////////////////// -->
  <section class="content-block content-block--color">
    <div class="content-block__inner">
      <h2 id="news" class="content-block__title content-block__title--posts">{{ _('News') }}</h2>
      <ul class="content-block__container" role="list">
        {% for post in posts %}
        <li class="content-block__item">
          {{ card(post, locale, datetime) }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <!-- ////////////////////////////////////////////////////////////////////////
                          START THE RESEARCH AREA SECTION
  ///////////////////////////////////////////////////////////////////////// -->
  <section class="research-area__section content-block">
    <div class="content-block__inner">
      <h2 id="research_areas" class="content-block__title">{{ _('Research Areas') }}</h2>
      <ul class="content-block__container" role="list">
        {% for research_area in research_areas %}
        <li class="content-block__item">
          <a class="card card--research-area" href="{{ url_for('multilingual.research_area.detail', slug=research_area.language(locale).slug) }}">
            <img class="card__image card__image--research-area" src="{{ url_for('multilingual.research_area.photo', slug=research_area.language(locale).slug) }}" alt="[{{ _('Photo') }}]" loading="lazy">
            <span class="card--research-area__name">{{ research_area.language(locale).name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <!-- ////////////////////////////////////////////////////////////////////////
                          START THE PROGRAMS SECTION
  ///////////////////////////////////////////////////////////////////////// -->
  <section class="program__section content-block">
    <div class="content-block__inner">
      <h2 id="programs" class="content-block__title">{{ _('Programs') }}</h2>
      <ul class="content-block__container" role="list">
        {% for program in programs %}
        <li class="content-block__item">
          <a class="card card--program" href="{{ url_for('multilingual.program.detail', slug=program.language(locale).slug) }}" class="program__name">
            <span class="card--program__degree">{{ program.language(locale).degree }}</span>
            <span class="card--program__title">{{ program.language(locale).title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
{% endblock %}
