{% macro card(post, locale, datetime) %}
  <a class="card card--post card--post--{{ post.type }}" href="{{ url_for('multilingual.post.detail', post_type=post.type, post_subtype_slug=post.language(locale).subtype_slug, slug=post.language(locale).slug) }}">
    <img class="card__image card__image--post" src="{{ url_for('multilingual.post.photo', post_type=post.type, post_subtype_slug=post.language(locale).subtype_slug, slug=post.language(locale).slug) }}" alt="[IMG]" loading="eager">
    <div class="card--post--{{ post.type }}__type">{{ _(post.language(locale).subtype)|capitalize }}</div>
    {% if post.type == 'new' %}
      <div class="card--post--{{ post.type }}__timedelta">{{ (post.post_date - datetime.utcnow())|timedeltaformat(add_direction=True) }}</div>
      <div class="card--post--{{ post.type }}__title">{{ post.language(locale).title }}</div>
      <div class="card--post--{{ post.type }}__subtitle">{{ post.language(locale).subtitle }}</div>
    {% elif post.type == 'event' %}
      <div class="card--post--{{ post.type }}__datetime">{{ post.start_datetime|dateformat('long') }}</div>
      <div class="card--post--{{ post.type }}__title">{{ post.language(locale).title }}</div>
      <div class="card--post--{{ post.type }}__speaker">{{ post.language(locale).speaker }}</div>
    {% endif %}
  </a>
{% endmacro %}
