<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="X-UA-Compatible" content="ie=edge">

  <!-- Primary Meta Tags -->
  <title>IMCA - {% block title %}{% endblock %}</title>

  <link rel="canonical" href=
  {%- if view_args -%}
    "http://imca.edu.pe{{ url_for(request.endpoint, lang_code='en', **view_args['en']) }}"
  {%- else -%}
    "http://imca.edu.pe{{ url_for(request.endpoint, lang_code='en', **request.view_args) }}"
  {%- endif -%}
  />
  <meta name="title" content="IMCA -- {{ self.title() }}">
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:title" content="IMCA -- {{ self.title() }}">
  <meta property="og:description" content="{{ self.description() }}">
  <meta property="og:image" content="http://imca.edu.pe{{ url_for('static', filename='imca-1.jpg') }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ request.url }}">
  <meta property="twitter:title" content="IMCA -- {{ self.title() }}">
  <meta property="twitter:description" content="{{ self.description() }}">
  <meta property="twitter:image" content="http://imca.edu.pe{{ url_for('static', filename='imca-1.jpg') }}">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#2e8ab1">

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  {% endblock %}

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDF0K4JD24"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EDF0K4JD24');
  </script>
</head>

<body>
  <div class="container-base">
    <!-- ////////////////////////////////////////////////////////////////////////
                            START THE NAVBAR SECTION
    ///////////////////////////////////////////////////////////////////////// -->
    <nav class="navbar">
      <div class="navbar__container">
        <a class="navbar__brand logo" href="{{ url_for('multilingual.index') }}#">
          <span class="logo__title">
            <span class="logo__title--before">I</span><span class="logo__title--color">M</span><span class="logo__title--after">CA</span>
          </span>
          <span class="logo__sep"> -- </span>
          <span class="logo__subtitle">
            Instituto de Matemática y Ciencias Afines
          </span>
        </a>

        <label class="menu-icon">
          <div class="menu-icon__burger"></div>
        </label>

        <h2 class="navbar__title">Navbar</h2>
        <ul class="navbar__list">
          <li class="navbar__item"><a class="navbar__link" href="{{ url_for('multilingual.index') }}#news">{{ _('News') }}</a></li>
          <li class="navbar__item"><a class="navbar__link" href="{{ url_for('multilingual.index') }}#research_areas">{{ _('Research Areas') }}</a></li>
          <li class="navbar__item"><a class="navbar__link" href="{{ url_for('multilingual.index') }}#programs">{{ _('Programs') }}</a></li>
          <li class="navbar__item"><a class="navbar__link" href="{{ url_for('multilingual.people.index') }}">{{ _('People') }}</a></li>
          {% for flatpage in flatpages %}
            <li class="navbar__item dropdown">
              <a class="navbar__link dropdown-toggle" href="{{ url_for('multilingual.flatpage.flatpage', slug=flatpage.language(locale).slug) }}" id="navbarDropdown_{{ flatpage.id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ flatpage.language(locale).title }}
              </a>
              {#
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown_{{ flatpage_category.id }}">
                {% for flatpage in flatpage_category.flatpages %}
                  <li><a class="dropdown-item" href="{{ url_for('multilingual.flatpage.flatpage', category_slug=flatpage_category.language(locale).slug, flatpage_slug=flatpage.language(locale).slug) }}">{{ flatpage.language(locale).title }}</a></li>
                {% endfor %}
              </ul>
              #}
            </li>
          {% endfor %}
        </ul>
      </div>
      <hr class="navbar__rule">
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes_div">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <!-- ////////////////////////////////////////////////////////////////////////
                              START THE FOOTER SECTION
    ///////////////////////////////////////////////////////////////////////// -->
    <footer class="footer">
      <hr class="footer__rule">
      <h2 class="footer__title">Footer</h2>
      <section class="contact-box-section">
        <!-- CONTENT FOR THE MOBILE NUMBER  -->
        <ul class="contact-box-section__container">
          <h3 class="contact-box__title">Contact Info</h3>
          <li class="contact-box">
            <a class="contact-box__link" href="#">
              <svg role="img" aria-label="Phone" class="contact-box__icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <title>Phone:</title>
                <desc>Phone:</desc>
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                <path d="M15 7a2 2 0 0 1 2 2" />
                <path d="M15 3a6 6 0 0 1 6 6" />
              </svg>
              <span class="contact-box__info">
                (+51) 349 1892
              </span>
            </a>
          </li>
          <!-- CONTENT FOR EMAIL  -->
          <li class="contact-box">
            <a class="contact-box__link" href="mailto:informacion@imca.edu.pe">
              <svg role="img" aria-label="Email:" class="contact-box__icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-opened" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <title>Email:</title>
                <desc>Email:</desc>
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="3 9 12 15 21 9 12 3 3 9" />
                <path d="M21 9v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10" />
                <line x1="3" y1="19" x2="9" y2="13" />
                <line x1="15" y1="13" x2="21" y2="19" />
              </svg>
              <span class="contact-box__info">
                informacion@imca.edu.pe
              </span>
            </a>
          </li>
          <!-- CONTENT FOR LOCATION  -->
          <li class="contact-box">
            <a class="contact-box__link" href="#">
              <svg role="img" aria-label="Address:" class="contact-box__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <title>Address:</title>
                <desc>Address:</desc>
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="18" y1="6" x2="18" y2="6.01" />
                <path d="M18 13l-3.5 -5a4 4 0 1 1 7 0l-3.5 5" />
                <polyline points="10.5 4.75 9 4 3 7 3 20 9 17 15 20 21 17 21 15" />
                <line x1="9" y1="4" x2="9" y2="17" />
                <line x1="15" y1="15" x2="15" y2="20" />
              </svg>
              <span class="contact-box__info">
                C. Los Biológos 245 La Molina
              </span>
            </a>
          </li>
        </ul>
      </section>

      <!-- START THE SOCIAL MEDIA CONTENT  -->
      <section class="media-content">
        <div class="media-content__container">
          <h3 class="media-content__text">
            {{ _('Find us on social media') }}
          </h3>
          <ul class="media-content__icons">
            <li class="media-content__item">
              <a target="_blank" href="https://www.facebook.com/imcauni/" class="media-content__link">
                <svg role="img" class="media-content__icon" aria-label="Facebook" data-icon="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <title>Facebook</title>
                  <desc>Facebook</desc>
                  <path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137V328h-63V256h63v-55c0-62 37-96 94-96 274 0 56 5 56 4v61h-31c-30 0-40 19-40 39V256h69l-11 72h-58V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path>
                </svg>
              </a>
            </li>
            <li class="media-content__item">
              <a target="_blank" href="https://www.youtube.com/results?search_query=IMCA+Instituto+de+Matem%C3%A1tica+y+Ciencias+Afines" class="media-content__link">
                <svg role="img" class="media-content__icon" aria-label="Youtube" data-icon="youtube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <title>Youtube</title>
                  <desc>Youtube</desc>
                  <path fill="currentColor" d="M550 124c-6-24-25-42-48-49C459 64 288 64 288 64S118 64 75 75c-23 6-42 25-48 49-11 43-11 132-11 132s0 89 14 132c6 24 25 42 48 48C117 448 288 448 288 448s171 0 213-11c23-6 42-24 48-48 11-43 11-132 11-132s0-89-11-132zm-318 214V175l142 81-143 81z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <!-- START THE CONTENT FOR THE CAMPANY INFO -->
      <div class="footer-links">
        <div class="footer-links__container">
          <div class="footer-links-column">
            <h3 class="footer-links-column__title">Preferences</h3>
            <ul>
              {% if g.user %}
                <li>
                  {{ g.user.email }}
                </li>
                {% if g.user.is_admin %}
                  <li>
                    <a href="{{ url_for('multilingual.dashboard.index') }}">Dashboard</a>
                  </li>
                {% endif %}

                {% if g.user.researchers %}
                  <li>
                    <a href="{{ url_for('multilingual.people.researcher_update', id=g.user.id) }}">{{ _('Edit Researcher Profile') }}</a>
                  </li>
                {% elif g.user.graduated_students %}
                  <li>
                    <a href="{{ url_for('multilingual.people.graduated_student_update', id=g.user.id) }}">{{ _('Edit Profile') }}</a>
                  </li>
                  <li>
                    <a href="{{ url_for('multilingual.people.graduated_student_detail', slug=g.user.slug) }}">{{ _('View Profile') }}</a>
                  </li>
                {% endif %}
              {% else %}
                <li>
                  <a href="{{ url_for('multilingual.auth.login', next=request.path) }}">{{ _('Log in') }}</a>
                </li>
              {% endif %}
              <li>
                {{ _('Language') }}:
                {% if view_args %}
                  <a href="{{ url_for(request.endpoint, lang_code='en', **view_args['en']) }}">English</a>
                  <span>|</span>
                  <a href="{{ url_for(request.endpoint, lang_code='es', **view_args['es']) }}">Español</a>
                {% else %}
                  <a href="{{ url_for(request.endpoint, lang_code='en', **request.view_args) }}">English</a>
                  <span>|</span>
                  <a href="{{ url_for(request.endpoint, lang_code='es', **request.view_args) }}">Español</a>
                {% endif %}
              </li>
              {#
              <li>
                <dark-mode-toggle
                    id="dark-mode-toggle-1"
                    dark="{{ _('Dark') }}"
                    light="{{ _('Light') }}"
                    legend="{{ _('Theme') }}: "
                    appearance="switch"
                    permanent="true"
                >
                </dark-mode-toggle>
              </li>
              #}
              {% if g.user %}
                <li>
                  <a href="{{ url_for('multilingual.auth.logout', next=request.path) }}">{{ _('Log out') }}</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="footer-links-column">
            <h3 class="footer-links-column__title">{{ _('Links') }}</h3>
            <ul>
              <li><a href="{{ url_for('multilingual.index') }}#news">{{ _('News') }}</a></li>
              <li><a href="{{ url_for('multilingual.index') }}#research_areas">{{ _('Research Areas') }}</a></li>
              <li><a href="{{ url_for('multilingual.index') }}#programs">{{ _('Programs') }}</a></li>
              <li><a href="{{ url_for('multilingual.people.index') }}">{{ _('People') }}</a></li>
            </ul>
          </div>
          <div class="footer-links-column">
            <h3 class="footer-links-column__title">{{ _('External Links') }}</h3>
            <ul>
              <li><a href="http://fc.uni.edu.pe/" target="_blank">Facultad de Ciencias - UNI</a></li>
              <li><a href="http://uni.edu.pe" target="_blank">Universidad Nacional de Ingeniería</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- START THE COPYRIGHT INFO  -->
      <div class="copyright__section">
        <div class="copyright__text">
          &copy; Copyright 2022 IMCA
        </div>
      </div>
    </footer>
  </div>

  {% block javascripts %}
  <script src="{{ url_for('static', filename='base.js')}}"></script>
  {% endblock %}
</body>
</html>
