{% extends 'base.html' %}

{% block title %}
{{ _('Teachers') }}
{% endblock %}

{% block content %}
<div class="detail">
  <aside>
    <nav>
      {% block nav %}
      {% endblock %}
    </nav>
  </aside>
  <main>
    {% block main %}
    {% endblock %}
  </main>
</div>
{% endblock %}
