{% macro with_errors(field) %}
<div class="form-div">
  {% if field.errors %}
    {% set input_class = " is-invalid" %}
  {% else %}
    {% set input_class = "" %}
  {% endif %}

  {# Show input by field type #}
  {% if field.type == "CSRFTokenField" %}
    {{ field(**kwargs) }}
  {% else %}
    {{ field.label(class_='form-label') }}
    {{ field(class='form-control' + input_class, **kwargs) }}
  {% endif %}

  {# Show description #}
  <div class="form-text">
    {{ field.description }}
  </div>

  {# Show errors #}
  {% if field.errors %}
    <ul>
      {% for error in field.errors %}
        <li>{{ error|e }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endmacro %}
