{% extends 'base.html' %}

{% block title %}
Recaptcha
{% endblock %}

{% block content %}

<div class="container page">
  {{ _('In order to see this information, we have to verify you are not a robot') }}

  <form method="post">
    {{ form.url_next }}
    {{ form.recaptcha }}
    <input type="submit" value="{{ _('Show contact') }}">
  </form>
</div>

{% endblock %}
